.header {
  background: #ffe715;
  color: #161616;
  min-height: 121px;
}

.find-button {
  background: #161616;
  color: white;
}

.navele {
  display: flex;
  justify-content: space-around;
}

li > a:hover {
  border-bottom: 3px solid #161616;
}

li > a {
  color: #161616;
}

.homepage {
  width: 100%;
  height: auto;
}

.title {
  font-size: 41px;
  color: #fefdf9;
}

.subtitle {
  font-size: 27px;
  color: #fefdf9;
}

.submit-button {
  background: #ffe715;
  color: #161616;
}

@media only screen and (min-width: 900px) {
  .homepage-description {
    margin-top: 280px;
    margin-left: 29px;
  }

  .homepageContacts {
    margin-top: 200px;
    margin-left: 29px;
  }

  .form-width {
    width: 420px;
    border-radius: 10px;
  }
}
